{% extends "base.html" %}{% load static %} {% block content %}

<!-- Section signup -->
<section class="section section-lg pt-6 ">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <form action="#" method="post" class="card border-gray-300 p-4 mb-4">
                    <h1 class="h5 mb-4">Roome</h1>
                    <div class="mb-4"><label for="firstname">Title</label> <input type="text" placeholder="A nice little title" class="form-control" id="firstname" required=""></div>
                    <div class="mb-4"><label for="location">Location</label> <input type="text" placeholder="26, Vancouver, BC, Canada - 324578" class="form-control" id="location" required=""></div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="mb-4"><label for="currency">Currency</label> <select class="form-select" id="currency" aria-label="Currency select example"><option value="USD">USD</option><option value="EUR">EUR</option><option value="GBP">GBP</option><option value="AUD">AUD</option><option value="CNY">CNY</option><option value="JPY">JPY</option></select></div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="mb-4"><label for="price">Monthly price</label> <input type="number" placeholder="250" class="form-control text-gray" id="price" required=""></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="mb-4"><label for="term">Minimum term</label> <select class="form-select" id="term" aria-label="Term select example"><option value="d">day</option><option value="m">month</option><option value="y" selected="selected">year</option></select></div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="mb-4"><label for="term_amount">Amount</label> <input type="number" placeholder="1" class="form-control text-gray" id="term_amount" required=""></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <div class="mb-4"><label for="sqfeet">Number input</label> <input type="number" placeholder="180" class="form-control text-gray" id="sqfeet" required=""></div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="mb-4"><label for="people">Dropdown example</label> <input type="number" placeholder="15" class="form-control text-gray" id="people" required=""></div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="mb-4"><label for="type">Type</label> <select class="form-select" id="type" aria-label="Type select example"><option value="meeting" selected="selected">meeting</option><option value="work">work</option><option value="events">events</option></select></div>
                        </div>
                    </div>
                    <div class="mb-4"><label for="description">Description</label> <textarea rows="10" class="form-control text-gray" id="description" required="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque temporibus odio, ipsum sint animi sequi totam repellat quidem, placeat neque vel enim nisi. Quia dolor in earum labore, aperiam dolorum.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae ipsa porro consequuntur, laborum eligendi laboriosam itaque quis nobis, tempora at id in repellendus eius reiciendis error, enim fugit modi molestiae!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia velit, deserunt animi, debitis eum laudantium facere adipisci minus ad quaerat ipsam consectetur, obcaecati non sit! Voluptas voluptatum autem modi dolorem?
                                </textarea></div>
                    <div class="row">
                        <div class="col"><button class="btn btn-primary btn-dark mt-2 animate-up-2" type="submit">Update</button></div>
                    </div>
                </form>
                <form action="#" method="post" class="card text-gray border-gray-300 p-4 mb-4">
                    <h2 class="h6">Featured image</h2>
                    <div class="d-flex justify-content-between align-items-center mt-2">
                        <div class="profile-image-small fmxw-100 me-4"><img class="rounded" src="../../assets/img/account/office-1.jpg" alt="Office"></div>
                        <div class="mb-3"><label for="formFile" class="form-label">Default file input example</label> <input class="form-control" type="file" id="formFile"></div>
                    </div><small class="text-gray fw-light font-xs d-block mt-2">Image should be at least 500 pixels wide and only *.jpg, *.png and *.jpeg formats are accepted.</small></form>
                <form action="#" method="post" class="card text-gray border-gray-300 p-4 mb-4">
                    <h2 class="h6">Gallery</h2>
                    <div class="d-flex justify-content-between align-items-center mt-2">
                        <div class="mb-3"><label for="formFile" class="form-label">Default file input example</label> <input class="form-control" type="file" id="formFile"></div>
                    </div><small class="text-gray fw-light font-xs d-block mt-2">Images should be at least 500 pixels wide and only *.jpg, *.png and *.jpeg formats are accepted.</small>
                    <div class="d-flex flex-wrap mt-4">
                        <div class="profile-image-small fmxw-100 me-3 mb-3"><img class="rounded" src="../../assets/img/account/office-1.jpg" alt="Office Conference"></div>
                        <div class="profile-image-small fmxw-100 me-3 mb-3"><img class="rounded" src="../../assets/img/account/office-2.jpg" alt="Office Cowork"></div>
                        <div class="profile-image-small fmxw-100 me-3 mb-3"><img class="rounded" src="../../assets/img/account/office-3.jpg" alt="Office Lifestyle"></div>
                        <div class="profile-image-small fmxw-100 me-3 mb-3"><img class="rounded" src="../../assets/img/account/office-1.jpg" alt="Themesberg Office"></div>
                        <div class="profile-image-small fmxw-100 me-3 mb-3"><img class="rounded" src="../../assets/img/account/office-2.jpg" alt="Office Meeting"></div>
                        <div class="profile-image-small fmxw-100 me-3 mb-3"><img class="rounded" src="../../assets/img/account/office-3.jpg" alt="Office Private"></div>
                    </div>
                </form>
                <form action="#" method="post" class="card text-gray border-gray-300 p-4 mb-4">
                    <div class="mb-4"><label for="video">Video url</label> <input type="text" value="https://vimeo.com/40842620" class="form-control text-gray" id="video" required=""></div>
                    <div class="row">
                        <div class="col"><button class="btn btn-primary btn-dark mt-2 animate-up-2 text-right" type="submit">Update</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}