{% extends "base.html" %}{% load static %} {% block content %}

<!-- Section signup -->
<section class="section section-lg pt-6 ">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        <h1 class="mb-0 h3">becam a host</h1>
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <!-- Form -->
                        <div class="form-group mb-4">
                            <label for="email">Username</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon3"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                  </svg></span></span>
                                <input type="text" class="form-control" placeholder="Username" name="userName" required="">
                            </div>
                        </div>
                        <!-- End of Form -->

                        <!-- Form -->
                        <div class="form-group mb-4">
                            <label for="email">First Name</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon3"><span class="far fa-user-circle"></span></span>
                                <input type="text" class="form-control" placeholder="First Name" name="fName" required="">
                            </div>
                        </div>
                        <!-- End of Form -->

                        <!-- Form -->
                        <div class="form-group mb-4">
                            <label for="email">Last Name</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon3"><span class="far fa-user-circle"></span></span>
                                <input type="text" class="form-control" placeholder="Last Name" name="lName" required="">
                            </div>
                        </div>
                        <!-- End of Form -->

                        <!-- Form -->
                        <div class="form-group mb-4">
                            <label for="email">Your Email</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon3"><span class="fas fa-envelope"></span></span>
                                <input type="email" class="form-control" placeholder="example@company.com" name="email" required="">
                            </div>
                        </div>
                        <!-- End of Form -->
                        <div class="form-group">
                            <!-- Form -->
                            <div class="form-group mb-4">
                                <label for="password">Your Password</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon4"><span class="fas fa-unlock-alt"></span></span>
                                    <input type="password" placeholder="Password" class="form-control" id="password" name="password" required="">
                                </div>
                            </div>
                            <!-- End of Form -->
                            <!-- Form -->
                            <div class="form-group mb-4">
                                <label for="password_confirm">Confirm Password</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon5"><span class="fas fa-unlock-alt"></span></span>
                                    <input type="password" placeholder="Confirm Password" class="form-control" name="password_confirm" required="">
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label for="password_confirm">About</label>
                                <div class="input-group">
                                    {% csrf_token %} {{ Form.media }} {{ Form.as_p }}
                                </div>
                            </div>



                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">SEND requist</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}